[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
langchain-community = "*"
python-dotenv = "*"
pydantic = "*"
fastapi = "*"
pypdf = "*"
google-generativeai = "*"
pipdeptree = "*"
markdown = "*"
langchain-google-genai = "*"
ipython = "*"
pdfplumber = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
