
.left-nav{
    margin-top: 10px; 
}
.nav-conatiner{
    position: relative;
    /* border: 3px solid black; */
    width: 100%;
    height: 40px;
}
.dropdown-prompts{
    background-color: transparent;
    border: none;
    font-weight: bold;
    font-family: cursive;
    font-size: 1.5rem;
    position: absolute;
    right: 35%;
}
.prompt-menu{
    text-align: left;
    background-color: rgba(255, 255, 255, 100%);
    border-radius: 8px ; 
    position: absolute;
    top: 45px;
    right: 25%;
    z-index: 5;
}

.drop-icon{
    position: relative;
    top: 10px;
    left:-4px;
    font-size: 2rem !important;
}
.prompt-menu ul{
    padding: 0;
}
.prompt-menu li{
    list-style: none;
    padding: 0 20px;
    margin: 5px;
}
.prompt-menu li:hover{
    background-color:  rgba(118, 118, 118, 0.16);
    border-radius: 20px;
    
}

.menu-button{
    text-align: left;
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
    height: 40px;
    width: 100%;
}
.menu-button-active{
    border: none;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
    background-color: rgb(226, 201, 201);
    border-radius: 10px;
    height: 40px;
    width: 100%;
}

.predefined{
    justify-content: flex-start;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 0;
    margin-left: 30px;
    color: rgba(46, 46, 46, 0.797);
    font-family: monospace;
    font-size: large;
}
.prompts-container{
    height: 76vh;
    width: 90%;
    overflow: auto;
    font-weight: 600;
    margin-left: 30px;
    
}

.prompts-container p{
   margin:10px 0;
   padding-bottom:5px ;
   border-bottom: 1px solid rgba(0, 0, 0, 0.354);
    
}
.prompts-container::-webkit-scrollbar {
    width: 12px;
}
.prompts-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 73, 73, 0); 
    border-radius: 5px;
    border: 2px solid rgba(227, 156, 156, 0.386);
}
.prompts-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.379); 
}
.prompts-container::-webkit-scrollbar-button {
    background-color: rgba(172, 117, 117, 0.61); /* Adjust opacity as needed */
    height: 2px;
  }
